<footer>
	<div class="container">
		<a href="#" class="btn back-to-top scroll">
			<i class="fas fa-chevron-up"></i>
		</a>

		<ul class="social-icon">
			<li>
				<h4>Follow Us</h4>
			</li>
			<li>
				<%=link_to 'https://www.facebook.com/pg/24x7softwares-358981691453551', title: 'facebook', target: '_blank' do%>
					<i class="fab fa-facebook"></i>
				<% end %>
			</li>
			<li>				
				<%=link_to 'https://twitter.com/2Softwares', title: 'twitter', target: '_blank' do%>
					<i class="fab fa-twitter-square"></i>
				<% end %>
			</li>
			<li>				
				<%=link_to 'https://www.instagram.com/24x7software', title: 'instragram', target: '_blank' do%>
					<i class="fab fa-instagram"></i>
				<% end %>
			</li>
			<li>				
				<%=link_to 'https://www.linkedin.com/company/24x7softwares', title: 'linkedin', target: '_blank' do%>
					<i class="fab fa-linkedin-in"></i>
				<% end %>
			</li>

		</ul>
		<ul class="listCopyRight">
			<li>
				© 2019. All Rights Reserved.
			</li>
			<li>
				<!-- <a href="#" title="Privacy Policy">Privacy Policy</a> -->
			</li>
		</ul>

	</div>
</footer>