<footer>
	<div class="container">
		<a href="#" class="btn back-to-top scroll">
			<i class="fas fa-chevron-up"></i>
		</a>

		<ul class="social-icon">
			<li>
				<h4>Follow Us</h4>
			</li>
			<li>
				<a href="#" title="facebook">
					<i class="fab fa-facebook"></i>
				</a>
			</li>
			<li>
				<a href="#" title="twitter">
					<i class="fab fa-twitter-square"></i>
				</a>
			</li>
			<li>
				<a href="#" title="instragram">
					<i class="fab fa-instagram"></i>
				</a>
			</li>
			<li>
				<a href="#" title="youtube">
					<i class="fab fa-youtube-square"></i>
				</a>
			</li>
		</ul>
		<ul class="listCopyRight">
			<li>
				<a href="#">© 2019. All Rights Reserved.</a>
			</li>
			<li>
				<a href="#" title="Privacy Policy">Privacy Policy</a>
			</li>
		</ul>

	</div>
</footer>