<article>
	<div class="innerContent">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-7 col-lg-7">
					<br><br>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-7 col-lg-7">
					<h2>
						<span>About</span>
						24x7softwares
					</h2>
					<p>24x7softwares is a technology company, with expertise in developing custom web & mobile applications for businesses of all sizes and industries. We are passionate about solving real life business problems by developing creative solutions. Many solutions work & we love what we do and so we keep doing it. We believe that the future belongs to those who prioritize innovation in their business practices. We are looking into the digital horizon and we know where the opportunities will be! Throughout the last decade, we have transformed many businesses into vibrant portals, vortals and profit gateways..</p>
				</div>
				<div class="col-12 col-sm-12 col-md-5 col-lg-5">
					<div class="imgBorder">
						<%=image_tag "img-about.jpg" %>
					</div>
				</div>
			</div>
			<h4>We design beautiful & Intuitive products</h4>
			<p>Making an app look beautiful takes a lot of work. But making that beautiful app intuitive and work faster is an art. We strongly believe that a seamless user-experience is an important element of design. We deliver an intelligent user experience which can truly help you grow your business.</p>

			<h4>All Code In-house (We work for you as a company and indiviual)</h4>
			<p>24x7 Softwares is a crafty team of designers, developers, and strategists and headquartered in Indore, Cleanest City in India.
			We develop products on the same technology which empowers Google (Angular, Kubernetes etc.), EB is all set to define the benchmark in the service industry for the next decade.</p>
			
			<h4>Nearly-zero downtime</h4>
			<p> All future upgrades and maintenance procedures will take place seamlessly without any downtime whatsoever.</p>

			<h4>Faster feature development</h4>
			<p>Our modular architecture allows fast development and you can expect to see more features more frequently. You say it, we’ll build it!</p>

		</div>
	</div>
</article>