<article>
	<div class="innerContent">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-7 col-lg-7">
					<br><br>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-8 col-lg-8">
					<h2>Career</h2>
					<h4>"Live Your Dream" Every Day.</h4>
					<p>A career at Impetus gives you the opportunity to work alongside outstanding leaders and be driven by endless opportunities for growth, exposure to cutting-edge technologies, and learning possibilities. At Impetus, we let people be themselves and magnify their strengths to help them deliver the best – every time.</p>

					<p>Interested to be a part of the 24x7 Softwares team but cannot find a suitable opening below? <a href="mailto:carrer@24x7softwares.com">Click here</a> to submit your resume.</p>
				</div>
				<div class="col-12 col-sm-12 col-md-4 col-lg-4" style="overflow: auto;">
					<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc0vRcYtVCmot7Zcgok1Gb6jlrK1psCigzICEfe8vRtywPINg/viewform?embedded=true" width="640" height="1265" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
				</div>
			</div>
			<div class="row rowCareer">
				<div class="col-12 col-sm-12 col-md-3 col-lg-3">
					<div class="contentCareer">
						<div class="imgCareer">
							<%=image_tag "img-port-1.jpg" %>
						</div>
						<h4>Lorem ipsum dolor</h4>
						<p>Non sed sequi rerumar quasi repellat eum earum praesentium totam! Quia, voluptas eaque anim uis aute irure dolor.</p>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-3 col-lg-3">
					<div class="contentCareer">
						<div class="imgCareer">
							<%=image_tag "img-port-2.jpg" %>
						</div>
						<h4>Lorem ipsum dolor</h4>
						<p>Non sed sequi rerumar quasi repellat eum earum praesentium totam! Quia, voluptas eaque anim uis aute irure dolor.</p>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-3 col-lg-3">
					<div class="contentCareer">
						<div class="imgCareer">
							<%=image_tag "img-port-3.jpg" %>
						</div>
						<h4>Lorem ipsum dolor</h4>
						<p>Non sed sequi rerumar quasi repellat eum earum praesentium totam! Quia, voluptas eaque anim uis aute irure dolor.</p>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-3 col-lg-3">
					<div class="contentCareer">
						<div class="imgCareer">
							<%=image_tag "img-port-4.jpg" %>
						</div>
						<h4>Lorem ipsum dolor</h4>
						<p>Non sed sequi rerumar quasi repellat eum earum praesentium totam! Quia, voluptas eaque anim uis aute irure dolor.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</article>