<article>
	<div class="innerContent">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-7 col-lg-7">
					<br><br>
				</div>
			</div>
			<h2>The Team</h2>
			<p>24x7softwares is backed by a team of dynamic ,motivated, committed and qualified professionals with exclusive skill set. We understand that how we treat our team so they treat client’s business. Therefore our HR practices are designed to focus on professional development along with personal development so as to align personal goals and Company/Organizational goals.</p>

			<p>24x7softwares is committed to providing enriching professional experience to all employees. Effective communication practices let the employees know exactly what they are expected to do.</p>

			<p>Our Learning management system promote sharing of best practices. There are ongoing seminars and technical training sessions.</p>
			<!-- <h2>Our Partners</h2> -->
			<!-- <div class="row rowTeam">
				<div class="col-12 col-sm-12 col-md-3 col-lg-3">
					<div class="boxTeam">
						<div class="imgTeam">
							<%=image_tag "kartik.jpg" %>
						</div>
						<div class="contentTeam">
							<h4>Kartik Upadhyay
								<span>Director & CTO</span>
							</h4>
							<ul class="listSocialMedia">
								<li>
									<a href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-instagram"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-linkedin-in"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-3 col-lg-3">
					<div class="boxTeam">
						<div class="imgTeam">
							<%=image_tag "jailalawat.jpg" %>
						</div>
						<div class="contentTeam">
							<h4>Jai Lalawat
								<span>CEO</span>
							</h4>
							<ul class="listSocialMedia">
								<li>
									<a href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-instagram"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-linkedin-in"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-3 col-lg-3">
					<div class="boxTeam">
						<div class="imgTeam">
							<%=image_tag "ganesh.jpg" %>
						</div>
						<div class="contentTeam">
							<h4>Ganesh Shrivas
								<span>Vice President</span>
							</h4>
							<ul class="listSocialMedia">
								<li>
									<a href="https://www.facebook.com/ganesh.shrivas1">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li>
									<a href="https://twitter.com/ganesh071190">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="https://github.com/ganesh">
										<i class="fab fa-github"></i>
									</a>
								</li>
								<li>
								  <a href="https://www.linkedin.com/in/ganesh-shrivas-043b6785/">
										<i class="fab fa-linkedin-in"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-3 col-lg-3">
					<div class="boxTeam">
						<div class="imgTeam">
							<%=image_tag "pp.jpg" %>
						</div>
						<div class="contentTeam">
							<h4>Pawan Shrivas
								<span>Sr Developer</span>
							</h4>
							<ul class="listSocialMedia">
								<li>
									<a href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-instagram"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-linkedin-in"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</article>