<article>
	<div class="innerContent">
		<div class="container">
			<h2>Team</h2>
			<p>We’ve assembled top industry talent to keep you ahead of the curve and tackle your most pressing IT delivery challenges. Meet your Continuum team.</p>

			<div class="row rowTeam">
				<div class="col-12 col-sm-12 col-md-3 col-lg-3">
					<div class="boxTeam">
						<div class="imgTeam">
							<%=image_tag "k.jpg" %>
						</div>
						<div class="contentTeam">
							<h4>Kartik Upadhyay
								<span>Director & CTO</span>
							</h4>
							<ul class="listSocialMedia">
								<li>
									<a href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-instagram"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-linkedin-in"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-3 col-lg-3">
					<div class="boxTeam">
						<div class="imgTeam">
							<%=image_tag "j.jpeg" %>
						</div>
						<div class="contentTeam">
							<h4>Jai Lalawat
								<span>CEO</span>
							</h4>
							<ul class="listSocialMedia">
								<li>
									<a href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-instagram"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-linkedin-in"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-3 col-lg-3">
					<div class="boxTeam">
						<div class="imgTeam">
							<%=image_tag "g.jpeg" %>
						</div>
						<div class="contentTeam">
							<h4>Ganesh Shrivas
								<span>Vice President</span>
							</h4>
							<ul class="listSocialMedia">
								<li>
									<a href="https://www.facebook.com/ganesh.shrivas1">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li>
									<a href="https://twitter.com/ganesh071190">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="https://github.com/ganesh">
										<i class="fab fa-github"></i>
									</a>
								</li>
								<li>
								  <a href="https://www.linkedin.com/in/ganesh-shrivas-043b6785/">
										<i class="fab fa-linkedin-in"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-3 col-lg-3">
					<div class="boxTeam">
						<div class="imgTeam">
							<%=image_tag "pp.jpg" %>
						</div>
						<div class="contentTeam">
							<h4>Pawan Shrivas
								<span>Sr Developer</span>
							</h4>
							<ul class="listSocialMedia">
								<li>
									<a href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-instagram"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-linkedin-in"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</article>